* {
    font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

p {
    text-align: justify;
    margin: 10px 0;
    color: #292929;
    font-size: 16px;
}

h1 {
    font-size: 56px;
    margin: 0;
    color: #FEFEFE;
    transition: 0.4s;
}

h1:hover {
    color: #292929;
}

h2 {
    font-size: 24px;
    color: #292929;
    margin-bottom: 20px;
}

html, body {
    margin: 0;
}

body {
    background-color: #3D94E6;
}

.wrapper {
    width: 100%;
    display: flex;
    background-color: #3D94E6;
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

.menu {
    width: 15%;
    padding: 20px;
    min-width: 200px;
}

.menu #menu-logo {
    font-size: 48px;
    color: #FEFEFE;
    margin-bottom: 20px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 4px 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.menu ul li a {
    color: #FEFEFE;
    text-decoration: none;
    transition: 0.4s;
}

.menu ul li a:hover {
    color: #292929;
}

.header {
    min-height: 150px;
    padding: 20px 100px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: right;
    background-position: top left;
    background-size: cover;
}

.header#home {
    background-image: url('img/banner-home.png');
}

.header#about {
    background-image: url('img/banner-about.png');
}

.header#opening-hours {
    background-image: url('img/banner-opening-hours.png');
}

.content {
    background-color: #FEFEFE;
    padding: 20px;
}

.content table {
    width: 80%;
    text-align: center;
    margin: 20px auto;
    border-collapse: collapse;
}

.content table thead {
    color: #FEFEFE;
    background-color: #292929;
}

.content table td{
    width: 33.33%;
    padding: 5px;
    border: 1px #292929 solid;
}

.footer {
    background-color: #A0C5D7;
    padding: 20px;
    min-height: 150px;
}

.footer ul {
    color: #292929;
}

.footer ul li {
    padding: 4px;
    font-size: 16px;
}
