.contact-form input,
.contact-form textarea, 
.contact-form select {
  margin-top: .625rem;
  width: 100%;
}

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form select, 
.contact-form textarea {
  height: 4rem;
  padding: 1.125rem;
  border-radius: .5rem;
  border: 1px solid var(--color-primary);
  background: none;
}

.contact-form input[type=text]:focus,
.contact-form input[type=email]:focus,
.contact-form select:focus, 
.contact-form textarea:focus {
  outline: 1px solid var(--color-primary);
}

.contact-form textarea {
  height: 15rem;
}

.contact-group {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .contact-group {
    flex-wrap: wrap;
  }
}

.form-contact__input-group.input-text,
.form-contact__input-group.input-email,
.form-contact__input-group.input-phone {
  display: inline-block;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .form-contact__input-group.input-text,
  .form-contact__input-group.input-email,
  .form-contact__input-group.input-phone {
    display: block;
    width: 100%;
  }
}

.form-contact__input-group.input-select,
.form-contact__input-group.input-textarea,
.form-contact__input-group.input-checkbox {
  margin-bottom: 2rem;
}

.form-contact__input-group.input-checkbox {
  display: flex;
  align-items: center;
}

.form-contact__input-group.input-checkbox input {
  width: 5rem;
  margin-top: 0;
}

.form-contact__input-group button {
  width: 24rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .form-contact__input-group button {
    width: 100%;
  }
}
