.testimonial-card {
  padding: 3.125rem 2.5rem;
  text-align: left;
  border-radius: 1.5rem;
  background-color: var(--color-text-white);
}

.testimonial-card img {
  width: 5rem;
  border-radius: 50%;
}

.testimonial-card h3 {
  margin: 2rem 0 .75rem;
}

.testimonial-card p {
  margin-bottom: 2rem;
  text-align: left;
}

.testimonial-card span {
  display: block;
}
