@import url('base/reset.css');
@import url('base/variables.css');
@import url('base/texts.css');
@import url('layout/header.css');
@import url('layout/main.css');
@import url('layout/section-find.css');
@import url('layout/section-numbers.css');
@import url('layout/section-map.css');
@import url('layout/section-services.css');
@import url('layout/section-team.css');
@import url('layout/section-testimonial.css');
@import url('layout/section-companies.css');
@import url('layout/section-newsletter.css');
@import url('layout/footer.css');

@import url('modules/menu.css');
@import url('modules/button.css');
@import url('modules/form-find.css');
@import url('modules/service-card.css');
@import url('modules/team-card.css');
@import url('modules/testimonial-card.css');
@import url('modules/form-newsletter.css');
@import url('modules/form-appointment.css');

body {
  background-color: var(--color-body-background);
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 6.5rem;
  padding-right: 6.5rem;
}
