@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
	font-size: 16px;
	
  --body-bg-color: #F4FEFF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
	font-family: 'Poppins', Arial, sans-serif;
	background-color: var(--page-background);
}

.container {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding: 0 7.5rem;
}