@import url('base/reset.css');
@import url('base/variables.css');
@import url('base/texts.css');
@import url('layout/header.css');
@import url('layout/main.css');
@import url('layout/section-find.css');
@import url('layout/section-numbers.css');
@import url('layout/section-map.css');

@import url('modules/menu.css');
@import url('modules/button.css');
@import url('modules/form-find.css');


body {
  background-color: var(--color-body-background);
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 6.5rem;
  padding-right: 6.5rem;
}
