.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.header__logo {
  width: 10.25rem;
}

.header__menu {
  width: 20.5rem;
}

.header__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header__menu--mobile {
  position: absolute;
  top: 5.875rem;
  width: 100%;
  left: 0;
}

@media screen and (max-width: 1200px) {
  .header__menu {
    display: none;
  }

  .header__buttons {
    display: none;
  }
}

.header__menu-icon {
  display: none;
}

@media screen and (max-width: 1200px) {
  .header__menu-icon {
    display: block;
    z-index: 100;
  }
}