@import url('../base/variables.css');

/** MAIN - HOMEPAGE **/

.main-home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}

.main-home .main__group {
  display: flex;
  gap: 3rem;
  width: 50%;
  flex-direction: column;
}

.main-home .main__buttons {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5rem;
}

.main__video {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.video__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.375rem;
  height: 3.375rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  transition: .4s;
}

.video__button svg {
  fill: var(--color-text-light);
  width: 1.25rem;
  margin-left: .25rem;
  transition: .4s;
}

.main__video span {
  color: var(--color-text-dark-bold);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
}

/** MAIN - SERVICE PAGE **/

.main-service {
  background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('../../img/hospital-background.jpg');
  background-size: cover;
  background-position: center;
}

.main-service__content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45.125rem;
}

.main-service .main__group {
  width: 50%;
}

.main-service h1 {
  max-width: 32rem;
}

.main-service p {
  max-width: 23.5rem;
  margin-top: 3.25rem;
  margin-bottom: 2.25rem;
  line-height: 2rem;
}

.main-service .main__buttons {
  display: flex;
  gap: .75rem;
}

.main-service .main__buttons .button__secondary {
  color: var(--color-text-white);
}