.section-services {
  margin-bottom: 6rem;
}

.section-services h2,
.section-services p {
  text-align: center;
}

.section-services p {
  max-width: 40rem;
  margin: 1rem auto 3.75rem;
}

.section-services__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1.5rem;
}

.section-services__cards .service-card {
  max-width: 31.75%;
}

@media screen and (max-width: 1200px) {
  .section-services__cards .service-card {
    max-width: 48%;
  }
}

@media screen and (max-width: 960px) {
  .section-services__cards .service-card {
    max-width: 36rem;
    margin: 0 auto;
  }
}