.section-faq {
  margin: 5rem 0;
}

.section-faq h2,
.section-faq p {
  text-align: center;
}

.section-faq p {
  max-width: 40rem;
  margin: 1rem auto 3.75rem;
}

.section-faq__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.25rem;
}

.section-faq .faq-card {
  max-width: 26%;
}

@media screen and (max-width: 1200px) {
  .section-faq .faq-card {
    max-width: 30%;
  }
}

@media screen and (max-width: 960px) {
  .section-faq .faq-card {
    max-width: 36rem;
    margin: 0 auto;
  }
}