.section-companies {
  text-align: center;
  margin-bottom: 5.75rem;
}

.section-companies__slide-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 3rem 0;
}

@media screen and (max-width: 860px) {
  .section-companies__slide-list {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    gap: 1.5rem;
  }
}

.section-companies__slide-list img {
  max-height: 2.25rem;
  max-width: 8.5rem;
}

@media screen and (max-width: 1200px) {
  .section-companies__slide-list {
    flex-wrap: wrap;
  }

  .section-companies__slide-list img {
    max-width: 30%;
  }
}

@media screen and (max-width: 860px) {
  .section-companies__slide-list img {
    max-width: 46%;
  }
}

.section-companies__slide-page {
  display: flex;
  justify-content: center;
  gap: .75rem;
}

.section-companies__slide-page span {
  display: inline-block;
  width: .875rem;
  height: .875rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  opacity: .5;
  cursor: pointer;
}

.section-companies__slide-page span.page--active {
  opacity: 1;
}