.section-team {
  margin-bottom: 5rem;
}

.section-team h2,
.section-team p {
  text-align: center;
}

.section-team p {
  max-width: 40rem;
  margin: 1rem auto 3.75rem;
}

.section-team__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2.5rem;
}

.section-team__cards .team-card {
  max-width: 31%;
}

@media screen and (max-width: 1200px) {
  .section-team__cards .team-card {
    max-width: 48%;
  }
}

@media screen and (max-width: 960px) {
  .section-team__cards .team-card {
    max-width: 36rem;
    margin: 0 auto;
  }
}