.section-testimonial {
  margin-bottom: 9.5rem;
}

.section-testimonial h2,
.section-testimonial p {
  text-align: center;
}

.section-testimonial p {
  max-width: 40rem;
  margin: 1rem auto 3.75rem;
}

.section-testimonial__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2.5rem;
}

.section-testimonial__cards .testimonial-card {
  max-width: 31%;
}

@media screen and (max-width: 1200px) {
  .section-testimonial__cards .testimonial-card {
    max-width: 36rem;
    margin: 0 auto;
  }
}